<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">

	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<encoding value="utf-8" />
		<file value="..\Logs\UI_EventLog.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<appendToFile value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5p %date{yyyy-MM-dd HH:mm:ss.ffff} [%thread] %-25.25class{1} %-35.35M %m%n" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="WARN" />
		</filter>
	</appender>
	
	<appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<encoding value="utf-8" />
		<file value="..\Logs\UI_ErrorLog.txt" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<appendToFile value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5p %date{yyyy-MM-dd HH:mm:ss.ffff} [%thread] [%class{3}.%M] - %m%n" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
	</appender>
	
	<appender name="FilterDebugMode" type="log4net.Appender.ForwardingAppender">
		<filter type="log4net.Filter.PropertyFilter">
			<key value="RuntimeMode" />
			<stringToMatch value="DEBUG" />
			<acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
		<appender-ref ref="DebugAppender" />
	</appender>
	
	<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.ffff} - [%thread] - [%p] -  %exception" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<!-- XML log for easier viewing using external application (YALV.exe) -->
	<appender name="XmlFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="..\Logs\ScoutUiXmlLog.xml" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="50" />
		<appendToFile value="false" />
		<maximumFileSize value="10MB" />
		<rollingStyle value="Size" />
		<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
			<locationInfo value="true" />
		</layout>
		<param name="Encoding" value="utf-8" />
	</appender>

	<root>
		<appender-ref ref="RollingLogFileAppender" />
		<appender-ref ref="ErrorLogFileAppender" />
		<appender-ref ref="FilterDebugMode" />
		<appender-ref ref="XmlFileAppender" />
	</root>
	
</log4net>
